@media screen and (max-width: 555px) {
    .container>.one {
      background-color: #00ff00;
    }
  }
  
  @media screen and (min-width: 556px) {
    .container>.two {
      background-color: #00ff00;
    }
  }
  
  @media screen and (min-width: 556px) and (max-width: 665px) {
    .container>.three {
      background-color: #00ff00;
    }
  }
  
  @media screen and (min-width: 666px) {
    .container>.four {
      background-color: #00ff00;
    }
  }
  
  @media screen and (min-width: 666px) and (max-width: 998px) {
    .container>.five {
      background-color: #00ff00;
    }
  }
  
  @media screen and (min-width: 999px) {
    .container>.six {
      background-color: #00ff00;
    }
  }
  
  @media screen and (min-width: 999px) and (max-width: 1199px) {
    .container>.seven {
      background-color: #00ff00;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container>.eight {
      background-color: #00ff00;
    }
  }
  
  @media screen and (min-width: 1200px) and (max-width: 1449px) {
    .container>.nine {
      background-color: #00ff00;
    }
  }
  
  @media screen and (min-width: 1450px) {
    .container>.ten {
      background-color: #00ff00;
    }
  }
  